*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #000;
    color:#eee;
}
main{
    height: 100vh;
    width: 100%;
    position: relative;
}
.multiple-links{
    position: fixed;
    z-index: 99;
    background: #00000059;
    height: 20em;
    width: max-content;
    display: none;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 1em;
    right: 12.3%;
    top: 12%;
}
.multiple-links a{
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 99;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 10px;
    color: #fff;
}
.multiple-links .activated{
    background: #ffffffd6;
    color: #000;
}
.multiple-links a::before{
    content: "";
    position: absolute;
    z-index: -90;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.6s, height 0.6s;
}
.multiple-links a:hover::before{
    width: 200px;
    height: 200px;
    background: #ffffffd6;
}
a:hover .activated{
    background: transparent;
    color: #fff;
}
.multiple-links a:hover{
    color: #000;
}

#slider{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(
        #8b8b8b, #1d252e
    );
    overflow: hidden;
}
#dCanvas{
    height: 100vh;
    cursor:grab;
}
.heading{
    position: absolute;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-top: 7em;
    padding-left: 3em;
}
.contentOne{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 20%;
    right: 5%;
    padding: 50px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.contentTwoAction .contentTwo,
.contentOneAction .contentOne{
    opacity: 1;
    pointer-events: urset;
}
.contentOne h1{
    font-size: 3rem;
    margin: 0 0 20px 0;
    font-weight: bold;
}
.contentOne .desc{
    opacity: 0.6;
}
.contentTwo{
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 20%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    
}
.contentTwo ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contentTwo ul li span:nth-child(1){
    font-size: xxx-large;
    font-weight: bold;
    display: block;
}
@keyframes showli{
    from{
        opacity:0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.contentTwoAction .contentTwo ul li{
    opacity:0;
    transform: translateY(10px);
    animation: showli 1s ease-in-out 1 forwards;
}
.contentTwoAction .contentTwo ul li:nth-child(1){
    animation-delay: 0.5s!important;
}
.contentTwoAction .contentTwo ul li:nth-child(2){
    animation-delay: 0.5s!important;
}
.contentTwoAction .contentTwo ul li:nth-child(3){
    animation-delay: 0.5s!important;
}
.contentTwoAction .contentTwo ul li:nth-child(4){
    animation-delay: 0.5s!important;
}
#showMore{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 80px;
    color: #eee;
    padding: 10px 20px;
    border: 1px solid #eee;
    width: max-content;
    background: transparent;
}

@media screen and (max-width:760px) {
    #dCanvas{
        height: 40vh;
    }
    .heading{
        display: none;
    }
    .contentOne, .contentTwo{
        position: relative;
        width: 90%;
        height: auto;
        opacity: 1!important;
        text-align: center;
        padding: 10px 0 0 5%;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .contentOne h1{
        font-size: large;
    }
    .contentTwo ul li span:nth-child(1){
        font-size: medium;
    }
    .contentTwo ul{
        gap: 20px;
    }
    #slider #showMore{
        display: none;
    }
}
#parent{
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 4em;
}
#parentBooking{
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 4em;
}
.container-register .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.container-register .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.container-register .title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.container-register .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.container-register .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.container-register .message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.container-register .signin {
  text-align: center;
}

.container-register .signin a {
  color: royalblue;
}

.container-register .signin a:hover {
  text-decoration: underline royalblue;
}

.container-register .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.container-register .form label {
  position: relative;
}

.container-register .form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  color: #000;
}

.selectOption{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    background: #fff;
    border-radius: 10px;
    color: #000;
}
.selectOption option{
    color: #000;
}

.container-register .form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.container-register .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.container-register .form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.container-register .form label .input:valid + span {
  color: green;
}

.container-register .submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-register .login{
  cursor: pointer;
}
.container-register .submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.customer-details{
  margin: 0em 2em 2em 2em;
  border: 1px solid #fff;
  width: 90%;
  background: #fff5;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  height: auto;
}
.table-heading{
  background: #fff4;
  padding: 0.5em;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-heading h3{
  font-weight: 900;
  font-size: 1.2em;
  color: #000;
}
.table-heading .search-filter{
  border: none;
  border-radius: 2rem;
  background: #fff6;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  transition: width 0.3s ease;
}
.table-heading .search-filter:hover{
  width: 45%;
  background: #fff9;
  box-shadow: 0 .05rem .5rem #000;
}
.table-heading .search-filter input{
  border: none;
  padding: 0.3rem 0.5rem;
  color: #000;
  background: transparent;
  outline: none;
  width: 100%;
}
.table-heading .search-filter i{
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}
tbody tr{
  --delay: 0.1s;
  transition: ease-in-out 0.5s var(--delay), background 0s;
}
tbody tr.hide{
  opacity: 0;
  transform: translateX(100%);
}

tbody tr td{
  transition: .2s ease-in-out;
}

tbody tr.hide td{
  padding: 0;
  font: 0 / 0 Space Grotesk;
  transition: .2s ease-in-out .5s;
}
.table-body{
  width: 90%;
  max-height: calc(89% - 2rem);
  background: rgba(255, 255, 255, 0.749);
  margin: 1rem auto;
  border-radius: 10px;
  overflow: auto;
  overflow: overlay;
}
.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: .5rem;
}
.table-body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.071);
  visibility: hidden;
}
.table-body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}
table, th, td{
  text-align: left;
  border-collapse: collapse;
  padding: .5em;
  color: #000;
}
td:not(:first-of-type){
  min-width: 6rem;
}
thead th{
  position: sticky;
  top: 0;
  background: #d5d1defe;
  width: max-content;
}
tbody tr:nth-child(even){
  background: #f6f6f6a4;
}
tbody tr:hover{
  background: #fff !important;
  cursor: pointer;
}
@media screen and (max-width:1000px) {
  td:not(:first-of-type){
      min-width: 11rem;
  }
}

.booked {
  background: #6be1ff;
  color: #000;
  border-radius: 20px;
  padding: .1rem .5rem;
  font-weight: 600;
}

.checked-in {
  background: #ffd469;
  color: #000;
  border-radius: 20px;
  padding: .1rem .5rem;
  font-weight: 600;
}

.checked-out {
  background: #53ff86;
  color: #000;
  border-radius: 20px;
  padding: .1rem .5rem;
  font-weight: 600;
}

.cancelled {
  background: #ff5555;
  color: #000;
  border-radius: 20px;
  padding: .1rem .5rem;
  font-weight: 600;
}
.btn-chk-in{
  background-color: #256227;
  color: #ffffff;
  border-radius: 20px;
  padding: .2rem .5rem;
  font-weight: 600;
  cursor: pointer;
}
.notify {
  position: absolute;
  background: #fff;
  border-radius: 10px;
  height: 4.5em;
  width: 20em;
  right: 4%;
  bottom: 10%;
  display: flex;
  gap: 1em;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 1s; 
}

.notify.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 0s linear 0s;
}

.notify .check i {
  background: #256227;
  border-radius: 50%;
  font-size: 1.2em;
  padding: .4em;
  font-weight: 900;
  margin-left: .3em;
}

.notify .check {
  animation: check 2s infinite linear;
}

.notify .msg p {
  color: #000;
}
.notify .msg p:nth-child(3) {
  font-size: .9em;
  font-weight: bold;
  opacity: 0.7;
}
.notify .msg p:nth-child(3) span {
  color: #000;
}
.notify .msg p:nth-child(1) {
  font-size: 1.1em;
  font-weight: bold;
}

.notify .msg p:nth-child(2) {
  font-size: 0.8em;
  opacity: 0.8;
}

@keyframes check {
  0% {
      transform: scale(0.5);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(0.5);
  }
}