<web-app>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
<resource-ref>
    <res-ref-name>jdbc/PostgresDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <driver-class>org.postgresql.Driver</driver-class>
</resource-ref>
